<%= link_to 'Ver programação', '#talks', :class => 'btn-view-talks' %>
<h1 class="logo"><%= image_tag 'devinsantos-logo.png', :alt => 'DevInSantos' %></h1>
<p class="headline">
  <span class="headline-one">O MAIOR</span>
  <span class="headline-two">encontro de desenvolvedores</span>
  <span class="headline-three">da Baixada Santista</span>
</p>
<h2>5º DevInSantos</h2>
<%= link_to 'javascript:void(0)', :class => 'btn-subscribe' do %>
  <b>Inscreva-se!</b>
  <br>
  <%= number_to_currency @event.price %>
<% end %>
<div class="event-info">
  <%= time_tag @event.date, format: :event %>
  <address itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
    <span itemprop="street-address"><%= @event.address %></span>,
    <span itemprop="locality">Santos</span> / <span itemprop="region">SP</span>
  </address>
</div>
<h3>Palestrantes</h3>
<ul class="speakers-list">
  <%= render @event.speakers %>
</ul>
<a id="talks"></a>
<h3>Agenda</h3>
<% @event.rooms.each do | room | %>
  <h4><%= room.name %></h4>
  <ol class="talks-list">
    <% @track.each(room) do |t| %>
      <%= t.print %>
    <% end %>
  </ol>
<% end %>
<h3>Patrocinadores</h3>
<h4>Ouro</h4>
<div class="gold-sponsors-list">
  <% @event.sponsors.gold.each do |sponsor| %>
    <%= image_tag sponsor.logo_url, :alt => sponsor.name %>
  <% end %>
</div>
<h4>Prata</h4>
<div class="silver-sponsors-list">
  <% @event.sponsors.silver.each do |sponsor| %>
    <%= image_tag sponsor.logo_url, :alt => sponsor.name %>
  <% end %>
</div>
<h4>Bronze</h4>
<div class="bronze-sponsors-list">
  <% @event.sponsors.bronze.each do |sponsor| %>
    <%= image_tag sponsor.logo_url, :alt => sponsor.name %>
  <% end %>
</div>
