<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <title><%= @event.try(:name) || 'DevInSantos' %> - O maior encontro de desenvolvedores da Baixada Santista</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="O DevInSantos, grupo de desenvolvedores de software em Santos, reúne profissionais e empreendedores na área de tecnologia da Baixada Santista.">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <!--[if lte IE 8]>
		  <%= javascript_include_tag "ie/html5_shiv" %>
		<![endif]-->
    <%= stylesheet_link_tag "application", :media => "all" %>
		<%= favicon_link_tag 'favicon.png', :rel => 'icon shortcut', :type => 'image/png' %>
  </head>
  <body>
    <%= yield %>
    <p class="footer">
      Organizadores <a href="mailto:brunoadacosta@gmail.com">Bruno Costa</a> e <a href="mailto:leandroadacosta@gmail.com">Leandro Costa</a> - Fotos dos encontros no <a href="https://www.facebook.com/developersinsantos" target="_blank" title="Facebook DevInSantos">Facebook</a>.
    </p>
    <!--[if lte IE 8]>
		  <%= javascript_include_tag "ie/respond" %>
		<![endif]-->
  	<%= javascript_include_tag "application" %>
  	<%= yield :script %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44981142-1', 'devinsantos.com.br');
      ga('send', 'pageview');
    </script>
  </body>
</html>
